/*--------------------------------------------------------------
## Theming
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Overrides
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Packages
--------------------------------------------------------------*/
@import "~bootstrap";
@import "~@fortawesome/fontawesome-pro/css/all.css";

/*--------------------------------------------------------------
## Utilities
--------------------------------------------------------------*/
@import "components/utilities";

/*--------------------------------------------------------------
## Misc
--------------------------------------------------------------*/
body {
    padding-top: $padding-top;
}

/*--------------------------------------------------------------
## Dashboard
--------------------------------------------------------------*/
#dashboard {

}

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
#navigation {
    @extend .fixed-top;
}

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
#sidebar {
    width: 20rem;
    height: 100vh;
    @extend .fixed-top;
    @extend .d-flex;
    flex-wrap: nowrap;
    z-index: 1010;
    padding-top: $padding-top;
    overflow-y: auto;
}

// Sidebar styles
@import "components/sidebar";


/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/
#content {
    padding-left: 20rem;
}